.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
/* dash.component.css */

/* dash.component.css */

.point-relais-count-container {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.point-relais-count {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}


