<div class="container">
  <form id="form-1" #form="ngForm" (ngSubmit)="onSubmit(form)"><br>
    <header style="font-weight:bold;font-size: x-large;color: rgb(247, 111, 0);"> Se connecter</header><br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom Complet</label>
      <input type="text" placeholder="Nom" class="form-control" name="username" ngModel required>  
      <div *ngIf="form.controls['username']?.invalid && (form.controls['username']?.dirty || form.controls['username'].touched)" class="alert alert-danger">
        Nom Complet est requis
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
      <input type="password" placeholder="mot de passe" class="form-control" id="exampleInputPassword1" name="password" ngModel required>
      <div *ngIf="form.controls['password']?.invalid && (form.controls['password']?.dirty || form.controls['password'].touched)" class="alert alert-danger">
        Mot de passe est requis
      </div>
    </div>
    <div class="btn-container">
      <button type="submit" class="btn btn-primary" style="color: white;background-color: rgb(247, 111, 0);border: white;">Submit</button>
    </div>
  </form>
</div>
