body {
    /*couleur de fond de toute la page */
    background-color: white;
}
#form-1 {
    border: 2px solid white;
    padding: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto; 
    background-color: white;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 

}

.form-control {
    width: 250px;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    text-emphasis-color: black;
}

.btn-container {
    text-align: center;
    width: 250px;
    /* pour les placer au centre */
    margin: 0 auto; 
}

.mb-4 {
    text-align: center;
}
.mb-3 {
    text-align: center;
    font-weight: bold;
}

.form-select {
    text-align: center;
    border: 2px solid black;
    width: 250px;
    /* Centrer horizontalement */
    margin: 0 auto; 
    font-weight: bold;
}
.alert-danger{
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
}