<body>
  <div class="container">
    <form id="form-1" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <header style="font-weight:bold;font-size: x-large;color: rgb(247, 111, 0);"> Se connecter</header>
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nom Complet</label>
          <input type="text" placeholder="Nom" class="form-control" name="username" ngModel required>  
          <div *ngIf="form.controls['username']?.invalid && (form.controls['username']?.dirty || form.controls['username'].touched)" class="alert alert-danger">
            Nom Complet est requis
          </div>
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" placeholder="mot de passe" class="form-control" id="exampleInputPassword1" name="password" ngModel required>
          <div *ngIf="form.controls['password']?.invalid && (form.controls['password']?.dirty || form.controls['password'].touched)" class="alert alert-danger">
            Mot de passe est requis
          </div>
      </div>
      <div class="mb-4">
        <label for="exampleInputPassword1" class="form-label">sélectionnez votre rôle</label>
          <select class="form-select" id="roleDropdown" name="selectedRole" ngModel required>
              <option value="admin_platform" style="font-weight: bold;">Administrateur Plateforme</option>
              <option value="admin_agent" style="font-weight: bold;">Administrateur Agent Point Relais</option>
              <option value="agent_point_relais" style="font-weight: bold;">Agent Point Relais</option>
          </select>
          <div *ngIf="form.controls['selectedRole']?.invalid && (form.controls['selectedRole']?.dirty || form.controls['selectedRole'].touched)" class="alert alert-danger">
            Sélectionnez votre rôle
          </div>
      </div>
      <div class="btn-container">
          <button type="submit" class="btn btn-primary" style="color: white;background-color: rgb(247, 111, 0);border: white;">Submit</button>
      </div>
    </form>
  </div>
</body>
