<nav class="navbar navbar-expand-lg fixed-top" style="background-color: white; color: rgb(16, 35, 120);opacity: 1;     border-bottom-left-radius: 20px; /* Rayon de bordure uniquement en bas à gauche */
border-bottom-right-radius: 20px;
overflow: hidden; /* Masquer les coins supérieurs */
box-shadow: 5px 5px 300px rgba(0, 0, 0, 0.5);">
  <div class="container-fluid">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" href="suivis-colis" style="color: rgb(247, 111, 0);font-size: xx-large;font-weight: bolder;">point-Rec</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link active" routerLink="suivis-colis" style="color: rgb(16, 35, 120);font-size: 18px;">Suivis de colis</a>
        </li>&nbsp;&nbsp; &nbsp; &nbsp;
        
        <li class="nav-item">
          <a class="nav-link" href="adminplateforme" style="color: rgb(16, 35, 120);font-size: 18px">adminplateforme</a>
        </li>&nbsp; &nbsp; &nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="espace administrative" style="color: rgb(16, 35, 120);font-size: 18px">espace Administratif</a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(16, 35, 120);font-size: 18px">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" style="color: black;">Action</a></li>
            <li><a class="dropdown-item" href="#" style="color: black;">Another action</a></li>
            <li><a class="dropdown-item" href="#" style="color: black;">Something else here</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
