nav a:hover {
    color: rgb(247, 111, 0);
  }
  .navbar navbar-expand-lg fixed-top{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* 5px horizontal offset, 5px vertical offset, 10px blur radius, 0.5 opacity */
    opacity: 0.9;
  }