  <nav class=" sidebar">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <div id="main" *ngIf="!isOpen" >
      <button class="openbtn" (click)="openSidebar()" style="top: 50px;; position: fixed;">☰</button>    
   </div>
   </nav>
  <section class="s1">
    <div class="container">
            <div>
              <h2>Choisir un Point Relais a consulter</h2>
              <select>
                <option value="">liste des points relais disponibles  </option>
              <!--  <option *ngFor="let pointRelais of pointsRelais" [value]="pointRelais.id">{{ pointRelais.nom }}</option> -->
              </select>
            </div>   
            <div >
              <form class="form6">
                <div>
                  <label>Numéro du point relais sélectionnez :</label>
                  <input type="number" name="num_pr">
                </div>
                <div>
                  <label>Adresse :</label>
                  <input type="text" name="adresse">
                </div>
                <div>
                  <label>Numéro de téléphone :</label>
                  <input type="number" name="num_phone">
                </div>
                <div>
                  <label>Capacité_max :</label>
                  <input type="number" name="capacité_max">
                </div>
                <div>
                  <label>Capacité :</label>
                  <input type="number" name="capacite">
                </div>
                <div>
                  <label>Disponibilité :</label>
                  <input type="text" name="disponibilité">
                </div>
                <div>
                  <label>Nom de l'agent :</label>
                  <input type="text" name="nom_agent">
                </div>
                <div>
                  <label>Liste des colis disponibles dans le pointRelais :</label>
                </div>
                <div>
                  <label>Liste des colis en Retour :</label>
                </div>
              </form>

            </div>
          </div> 
          <section>
            
          </section>
  </section>