    <nav>
      <i class="fa fa-bars"></i>
      <ul>
        <li><a href="adminplateforme"><i class="fa fa-hoome" aria-current="page"></i>Acceuil</a></li>
        <li><a href="/pointrelais"><i class="fa fa-suitcase"></i>Point Relais</a></li>
        <li><a href="adminPr">Administrateur Point Relais</a></li>
        <li><a href="addadminp">Administrateur Plate-forme</a></li>
        <li><a href="options">options</a></li>
        <li><a href="dashboard">consulter dashboard</a></li>
        <li style="order: 999;"><a class="nav-link" href="espace administrative">Log Out</a></li>
    </ul>
    </nav>
    <section class="s1">
      <h1>Welcome</h1>
    </section>
  




