<div class="side">
  <nav *ngIf="isOpen">
    <button class="closeSidebar" (click)="closeSidebar()" style="font-size: 40px ; position: absolute; right: 0;">x</button>
    <br> 
    <i class="fa fa-bars"></i>
    <ul>
      <li><a href="adminplateforme"><i class="fa fa-hoome" aria-current="page"></i>Accueil</a></li>
      <li class="dropdown" (click)="toggleDropdown($event)">
        <a class="dropdown-toggle"><i class="fa fa-suitcase"></i>Point Relais</a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen">
          <li><a href="adminPr">Consulter Liste des Point Relais</a></li>
          <li><a href="affecteradminpointreais">Affecter Admin Point Relais</a></li>
        </ul>
      </li>
      <li><a href="adminPr">Administrateur Point Relais</a></li>
      <li><a href="addadminp">Administrateur Plate-forme</a></li>
      <li><a href="option">Options</a></li>
      <li><a href="dashboard">Consulter Dashboard</a></li>
      <li style="order: 999;"><a class="nav-link" href="espace-administrative">Log Out</a></li>
    </ul>
  </nav>
  <div id="main" *ngIf="!isOpen">
    <button class="openbtn" (click)="openSidebar()">☰ Open Sidebar</button>
  </div>
</div>
