  section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 270px;
    height: 100vh;
    width: calc(100% - 270px);
    padding: 30px;
    transition: ease-in 0.3s;
  }
  
.s1{
    padding: 100px;
}

  .container{
     /* largeur  */
    width: 900px;
    /* centre l'élément horizontalement en utilisant auto pour les marges gauche et droite */
    margin: 0 auto; 
    /* bordure de 2px en gras et noire */
    border: 2px solid rgb(1, 1, 1) ; 
    font-weight: bold; 
    /* espacement intérieur de votre choix */
    padding: 20px; 
    /* centre le texte à l'intérieur de l'élément */
    text-align: center; 
    background-color: rgb(199, 195, 195);
    
  
  }
  .btnrecherche {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.liste{
display: flex;
justify-content: flex-start;
padding: 50px;
}
.table-bordered {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
 .table-bordered th {
    background-color: #f2f2f2;
  }

.table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
.sidebar{
  position: absolute;
  top: auto; 
  left: 0; 
  height: 200vh; 
  z-index: 999; 
  }

  .openbtn{
    height: 6vh;
    top: auto;
    font-size: xx-large;
    background-color: rgb(16, 35, 120);
    color: white;

}
.openbtn:hover{
    color: rgb(247, 111, 0);
}
