<header>
    <div class="title">
        Suivre un colis
    </div>
</header>
    <div class="textc">
        Chaque colis, une promesse. Nous en prenons soin comme s'il était nôtre.
        <br> Suivez-le, et laissez-vous emporter par la magie de son voyage.
    </div>
    <div>
        <form class="form" (ngSubmit)="suivreColis()">
            <label style="font-weight: bold;">Numéro de colis &nbsp;</label>
            <input  type="text"  placeholder="Numéro de colis" class="input" name="numeroColis" [(ngModel)]="numeroColis" >
                        <button type="submit" class="suivis-button">&nbsp;Suivre</button>
            <p style="padding-top: 25px;font-size: small;">Saisissez le numéro de votre envoi composé de 13 caractères</p>
        </form>
        <!-- cest pour Affichage de l'adresse du colis -->
        <div class="adresse" *ngIf="adresseColis">
            <p>Adresse du colis:</p>       
            <p>{{ adresseColis }}</p>
        </div>
    </div>
