<header>
    <div class="title">
        suivre un colis
    </div>
</header>
<body>
    <div class="textc">
        Chaque colis, une promesse. Nous en prenons soin comme s'il était nôtre.
        <br> Suivez-le,et laissez-vous emporter par la magie de son voyage.
    </div>
    <div>
        <form class="form">
            <label style="font-weight: bold;">numéros de colis &nbsp;</label>
            <input type="number" placeholder="numéros de colis" class="input">  &nbsp;
            <button class="suivis-button">&nbsp;suivis</button>
            <p style="padding-top: 25px;font-size: small;">Saisissez le numéro de votre envoi composé de 13 caractères</p>
        </form>
    </div>
</body>