.title{
    text-align: center;
    margin: 0 auto; /* pour les placer au centre */
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(247, 111, 0);
    padding-top: 100px;
}
.textc{
    text-align: center;
    padding-top: 50px;
    font-size: medium;
    font-weight: bold;
    font-style: italic;


}
.form{
    text-align: center;
    padding-top: 50px;


}
.input{
    width: 250px;
    border: 3px solid black;
    text-align: center;
    margin: 0 auto;
    text-emphasis-color: black;
}
.suivis-button{
    border: 3px solid black(255, 255, 255);
    background-color: rgb(247, 111, 0);
    color: white;
    font-weight: bold;
}