<div class="side">
    <nav *ngIf="isOpen">
      <button class="closeSidebar" (click)="closeSidebar()" style="font-size: 40px ; position: absolute; right: 0;">x</button>
      <br> 
      <i class="fa fa-bars"></i><br>
      <ul style="text-align: center;">
        <li>
          <div style="text-align: center;">
            <i class="fas fa-user-circle" style="font-size: 30px;"></i><br>
        </div><br>
        <div style="text-align: center;">
          <i style="font-size: 20px;">{{nom}}</i></div><br>
        </li><br>
        <li><a href="agentpointrelais"><i class="fa fa-home" aria-current="page"></i>délivré colis</a></li>
        <li><a href="ajoutercolisadélivré">Ajouter colis a délivré</a></li>
        <li><a href="retourcolis">Retour Colis</a></li>
        <li class="dropdown" (click)="toggleDropdown($event)"(mouseenter)="openDropdown()" (mouseleave)="closeDropdown()">
          <a class="dropdown-toggle"><i class="fa fa-suitcase"></i>Option </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li style="width: auto;"><a href="donnéesagent">Consulter les données personnelles</a></li>
            <li style="width: auto;"><a href="changeagent">modifier données personnelles</a></li>
          </ul>
        </li>
        <li><a href="dashboard">Consulter Dashboard</a></li>
        <li style="order: 999;"><a class="nav-link" href="espace-administrative">Log Out</a></li>
      </ul>
    </nav>
  </div>
  
    <!--
    <div id="main" *ngIf="!isOpen" >
      <button class="openbtn" (click)="openSidebar()" style="top: auto;">☰</button>
    </div>-->
  