
  <nav class="side" [class.open]="isOpen">
    <!-- Contenu de la barre latérale -->
    <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()" style="font-size: 40px; ">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </nav>
  <div id="main"style="font-size: 40pv;">
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>
x <br>

</div>
  
  <button class="openbtn" (click)="toggleSidebar()">_
    <i class="fa fa-bars"></i>
  </button>
  