<div class="side" >
  <nav *ngIf="isOpen">
    <button class="closeSidebar" (click)="closeSidebar()" style="font-size: 30px ; position: absolute; right: 10px; top :10px;color: rgb(16, 35, 120);">x</button>
    <br> 
    <i class="fa fa-bars"></i>
    <ul style="text-align: left;">
      <li>
        <div style="text-align: center;">
        <i class="fas fa-user-circle" style="font-size: 30px;"></i><br>
      </div><br>
      <div style="text-align: center;">
        <i style="font-size: 20px;">{{nom}}</i></div><br>
        <li><a href="pointrelaisadmin"><i class="fa fa-hoome" aria-current="page"></i>Accueil</a></li>
      <li class="dropdown" (click)="toggleDropdown1($event)"  (mouseenter)="openDropdown(1)" (mouseleave)="closeDropdown(1)">
        <a class="dropdown-toggle"><i class="fa fa-suitcase"></i>Point Relais</a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen1">
          <li class="li1"><a href="listepointre">Consulter la Liste Point Relais</a></li>
          <li class="li1"><a href="affecteradminpointreais">Ajouter nouveau Point Relais</a></li>
          <li class="li1"><a href="affecteradminpointreais">Modifier Point Relais</a></li>
          <li class="li1"><a href="affecteradminpointreais">supprimer Point Relais</a></li>

        </ul>
      </li>
      <li><a href="addpointsrelais"> Point Relais</a></li>
      <li><a href="addadminp">Agent point relais</a></li>
      <li class="dropdown" (click)="toggleDropdown2($event)" (mouseenter)="openDropdown(2)" (mouseleave)="closeDropdown(2)">
        <a class="dropdown-toggle"><i class="fa fa-suitcase"></i> Options</a>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen2">
          <li><a href="donneeadminpoint">Consulter données personnelles</a></li>
          <li><a href="modifieradminpoint">Modifier données personnelles</a></li>
        </ul>
      </li>      <li><a href="dashboardadminp">Consulter Dashboard</a></li>
      <li style="order: 999;"><a class="nav-link" href="espace-administrative">Log Out</a></li>
    </ul>
  </nav>
  <!--
  <div id="main" *ngIf="!isOpen" >
    <button class="openbtn" (click)="openSidebar()" style="top: 50px;; position: fixed;">☰</button>    
 </div>-->
</div>
