.openbtn{
    height: 6vh;
    top: auto;
    font-size: xx-large;
    background-color: rgb(16, 35, 120);
    color: white;

}
.openbtn:hover{
    color: rgb(247, 111, 0);
}
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 270px;
    height: 100vh;
    width: calc(100% - 270px);
    padding: 30px;
    transition: ease-in 0.3s;
  }
  .s1{
    padding: 100px;
}
.container{
    /* largeur  */
   width: 50%;
   /* pour centrer l'élément horizontalement en utilisant auto pour les marges gauche et droite */
   margin: 0 auto; 
   /* bordure de 2px en gras et noire */
   border: 3px solid rgb(16, 35, 120) ; 
   font-weight: bold; 
   /* espacement intérieur de votre choix */
   padding: 20px; 
   /* centre le texte à l'intérieur de l'élément */
   text-align: center; 
   background-color: rgb(199, 195, 195);
   height: fit-content;
   top: 100%;
 }
 .btnajouter{
    color:rgb(247, 111, 0) ;
    background-color: rgb(16, 35, 120);
    border: 1px solid rgb(16, 35, 120) ;
    height: 30px; 
    width: 100px;
    font-size: large;
  }
  .btnajouter:hover{
    background-color:white ;
  }