<app-agentsidebar></app-agentsidebar>
<router-outlet></router-outlet>
<div id="main" *ngIf="!isOpen" >
    <button class="openbtn" (click)="openSidebar()" style="top: 50px;background-color: rgb(16, 35, 120); position: fixed;">☰</button>    
 </div>
 <section class="s1">
    <div class="container">
        <div> 
        <br> <br>
            <div>
            <img [src]="photoretour" alt="image" style="width: 75px; height: auto;">
        </div><br><br>
            <h2>Saisir Le numéro du colis en retouur </h2>
            <div>
            </div>
            <div>
                <!--                <form (submit)="délivrécolis()" class="form6">-->
                <form class="form6">
                    <br>
                    <div>
                        <input type="text" id="nom" name="nom" [(ngModel)]="numcolis" placeholder="numéros du colis composé de 13 caractère" style="border-color: rgb(16, 35, 120);">
                    </div><br>
                   <div>
                    <button type="submit" class="btnajouter">Délivré</button>
                </div><br><br><br>
                </form>
            </div>
        </div>
    </div>
        </section>     