.sidebar{
    position: absolute;
    top: auto; 
    left: 0; 
    height: 200vh; 
    z-index: 999;
      }
.openbtn{
        height: 6vh;
        top: auto;
        font-size: xx-large;
        background-color: rgb(16, 35, 120);
        color: white;
    
    }
.openbtn:hover{
        color: rgb(247, 111, 0);
    }
